@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
.header{
    width: 100%;
    height: 100%;
    font-family: 'Caveat', cursive;
    font-size: 50px;
    padding-left: 40px;
    padding-bottom: 10px;
    border-bottom: 0.5px solid rgba(175, 241, 241, 0.671);
    background-color: rgba(175, 241, 241, 0.671);
}